{% extends '::base_admin.html.twig' %}

{% form_theme edit_form ':Form:editFields.html.twig' %}
{% form_theme delete_form ':Form:editFields.html.twig' %}

    {% block last_stylesheet %}
    <link href='{{ asset('includes/admin/css/plugins/datapicker/datepicker3.css') }}' rel='stylesheet'>
    <link href='{{ asset('includes/admin/css/plugins/daterangepicker/daterangepicker-bs3.css') }}' rel='stylesheet'>
    <link href='{{ asset('includes/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}' rel='stylesheet'>
    <style>
        label[for=adminbundle_users_isActive]{
            font-weight: 700;
        }
    </style>
{% endblock %}

{% block body -%}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="ibox float-e-margins">
                    <br />
                    <div class="ibox-content">
                        <button style="float: left; margin-right: 0;" type="button" class="btn btn-warning col-md-offset-9" data-toggle="modal" data-target="#myModal{{ entity.id }}">
                            {% if entity.isActive %} {{ 'Deactivate'|trans }}
                            {% else %} {{ 'Activate'|trans }}
                            {% endif %}
                        </button>
                        <div id="myModal{{ entity.id }}" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content" style="padding: 6% 10%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Do you confirm the action?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="form" method="post" action="{{ path('users-deactivate', { 'id': entity.id }) }}">
                                            <span id="no_action">
                                                <button class="btn btn-lg btn-primary pull-left m-t-n-xs" data-dismiss="modal">No</button>
                                            </span>
                                            <input class="btn btn-lg btn-warning pull-right m-t-n-xs" type="submit"
                                                    {% if entity.isActive %} value="{{ 'Deactivate'|trans }}"
                                                    {% else %} value="{{ 'Activate'|trans }}"
                                                    {% endif %}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form(edit_form, {attr: {class: "form-horizontal form-label-left input_mask"}}) }}

                        {{ form(delete_form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block last_javascript %}
        <script>
            $('.forDel3').removeClass( "col-md-3");
            $('.forDel3Bottom').addClass( "col-md-12");
            $('.forDel9').removeClass( "col-md-9");
            $('.hideDeleteTop').remove();
            $('.hideDeleteBottom').remove();
            $('.hideUpdate').remove();
        </script>

        {% if edit_form.vars.value.isActive == 'true' %}
            <script>
                $(document).ready(function(){
                    $('#adminbundle_users_isActive').prop('checked', true);
                })
            </script>
        {% endif %}
    {% for elem in edit_form %}
    {% if date_active is not defined and 'date' in elem.vars['block_prefixes'] %}
            {% set date_active = 'true' %}
            <script src='{{ asset('includes/admin/js/plugins/fullcalendar/moment.min.js') }}'></script>
            <script type='text/javascript' src='{{ asset('includes/admin/js/plugins/daterangepicker/daterangepicker.js') }}'></script>
            <script src='{{ asset('js/plugins/datapicker/bootstrap-datepicker.js') }}'></script>
            <script type='text/javascript'>
                $(document).ready(function() {
                    $('.gns-datepicker').daterangepicker({
                        singleDatePicker: true,
                        calender_style: 'picker_4',
                        format: 'DD-MM-YYYY'
                    })
                })
            </script>
        {% endif %}
        {% if checkbox_active is not defined and 'checkbox' in elem.vars['block_prefixes'] %}
            {% set checkbox_active = 'true' %}
            <link href='{{ asset('includes/admin/css/switchery/switchery.min.css') }}' rel='stylesheet'>
        {% endif %}
        {% if file_active is not defined and 'file' in  elem.vars['block_prefixes'] %}
            {% set file_active = 'true' %}
            <script src='{{ asset('includes/admin/js/image-delete.js') }}'></script>
            {#<script>#}
                {#$(document).ready(function(){#}
                    {#if ('{{ entity.getWebPath() }}' !== '') {#}
                        {#$('.fileList').html('<img src='+'{{ asset(entity.getWebPath()|imagine_filter('my_thumb')) }}'+' style='+'"padding-bottom: 20px"'+' /><a class='btn btn-danger del-im-aj' style='float:right;' data_id='{{ entity.getId }}' data_url='{{ entity.getEntityName }}'>Удалить</a>');#}
                    {#}#}
                {#});#}
            {#</script>#}
            <link href='{{ asset('includes/admin/css/upload_button.css') }}' rel='stylesheet'>
            <script type='text/javascript' src='{{ asset('includes/admin/js/filePreview.js') }}'></script>
        {% endif %}
        {% if choice_active is not defined and 'choice' in elem.vars['block_prefixes'] %}
        {% set choice_active = 'true' %}
            <script type='text/javascript' src='{{ asset('includes/admin/js/select/select2.full.js') }}'></script>
            <link href='{{ asset('includes/admin/css/select/select2.min.css') }}' rel='stylesheet'>
            <script>
                $(document).ready(function () {
                    $('.select2_multiple').select2({
                        allowClear: true,
                        placeholder: 'Make your choice...'
                    });
                });
            </script>
        {% endif %}
    {% endfor %}
{% endblock %}
