<!DOCTYPE html>
<html>

<title>Развоз</title><link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<body style="font-size: 16px; padding:0; margin: 0;font-family: 'Ubuntu', sans-serif" >
    <div style="background-color: #89CC00; color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.4); text-align: center;font-size: 90px;padding: 100px; background-position: right 10px; background-repeat: no-repeat;">
        <img src="{{ asset('includes/html/images/logo.png') }}" style="width: 350px; margin-bottom: 10px;"><br />
        РАЗВОЗ
        <div class="row" style="font-size: 16px">
            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">{{ 'Вхід'|trans }}</h3>
                {% if error %}
                    <div class="error" style="color: red">{{ error.message }}</div>
                {% endif %}
                {{ form_start(form, {attr: {'class': 'm-t', 'role': 'form'}}) }}
                <div class="form-group"><label>{{ 'Логін'|trans }}</label>
                    {{ form_widget(form._username, {attr: {'class': 'form-control', 'placeholder': 'Username'}}) }}
                </div>
                <div class="form-group"><label>{{ 'Пароль'|trans }}</label>
                    {{ form_widget(form._password, {attr: {'class': 'form-control', 'placeholder': 'Password'}}) }}
                </div>
                <div class="pull-right">
                    {{ form_widget(form.login) }}
                </div>
                {#<label> {{ "Запам'ятати мене"|trans }}<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div></label>#}
                {{ form_end(form) }}
            </div>
            <div class="col-sm-6"><h4>Ще не зареєстровані?</h4>
                <p>Зареєструватися:</p>
                <p class="text-center">
                    <a href="">Регистрация</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>